.container{
    width: 500px;
    height: 12px;
    border-radius: 1000px;
    background-color: var(--cream-light);
    overflow: hidden;
    display: flex;
    
    
    span{
        border-radius: 1000px;
        background-color: var(--black);
    }
}
