//using variables makes it easy to assign its value throughout the code
:root {
    //Font sizes:
    //name a variable starting with two dash(--)
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-xxl: 24px;
    --fs-xxxl: 28px;
    --fs-greet:34px;
    --fs-brand:48px;
    

    //Font weight:
    --fw-light: 400;
    --fw-normal: 500;
    --fw-medium: 550;
    --fw-bold: 600;

    //Border radius:
    --br-sm: 5px;

    //Colors:
    --black: #3C3D43;
    --white: #FFFFFF;
    --rose: #FDBAA3;
    --red: #F7685C;
    --green: #30C58D;
    --cream: #fffdfa;
    --cream-light: rgb(253, 186, 163, 40%);
    --grey:#808080;
    --light-grey:#a8a8b3;
}

.light{
    background-color: var(--white);
    color: var(--black);

}

.dark{
    background-color: var(--black);
    color:var(--white);
}